<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>werewolfWhite_run_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,70}}</string>
        <key>offset</key>
        <string>{-5,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,58},{116,70}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{115,62}}</string>
        <key>offset</key>
        <string>{-3.5,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,66},{115,62}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{110,47}}</string>
        <key>offset</key>
        <string>{4,-33.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,74},{110,47}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{107,84}}</string>
        <key>offset</key>
        <string>{9.5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,44},{107,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,47},{104,51}}</string>
        <key>offset</key>
        <string>{5,-38.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,77},{104,51}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,62},{103,80}}</string>
        <key>offset</key>
        <string>{0.5,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,48},{103,80}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{102,53}}</string>
        <key>offset</key>
        <string>{4,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,75},{102,53}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{100,63}}</string>
        <key>offset</key>
        <string>{4,-32.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,65},{100,63}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{98,82}}</string>
        <key>offset</key>
        <string>{11,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,39},{98,82}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{98,55}}</string>
        <key>offset</key>
        <string>{-3,-36.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,73},{98,55}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack2_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{97,83}}</string>
        <key>offset</key>
        <string>{8.5,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,45},{97,83}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,55},{97,52}}</string>
        <key>offset</key>
        <string>{-3.5,-38}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,76},{97,52}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,82},{95,75}}</string>
        <key>offset</key>
        <string>{6.5,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,53},{95,75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,84},{95,63}}</string>
        <key>offset</key>
        <string>{-0.5,-32.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,65},{95,63}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack3_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,147},{73,94}}</string>
        <key>offset</key>
        <string>{4.5,-17}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{32,34},{73,94}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack3_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,98},{92,93}}</string>
        <key>offset</key>
        <string>{13,-17.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{31,35},{92,93}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_dead_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,98},{89,22}}</string>
        <key>offset</key>
        <string>{-0.5,-53}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,106},{89,22}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,142},{93,73}}</string>
        <key>offset</key>
        <string>{4.5,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,55},{93,73}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{93,60}}</string>
        <key>offset</key>
        <string>{12.5,-34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,68},{93,60}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_run_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,190},{92,80}}</string>
        <key>offset</key>
        <string>{4,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,48},{92,80}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_dead_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,190},{83,50}}</string>
        <key>offset</key>
        <string>{-3.5,-39}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,78},{83,50}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,215},{91,87}}</string>
        <key>offset</key>
        <string>{11.5,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,41},{91,87}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{90,59}}</string>
        <key>offset</key>
        <string>{13,-34.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,69},{90,59}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack3_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,270},{70,89}}</string>
        <key>offset</key>
        <string>{-6,-19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{23,39},{70,89}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,302},{68,89}}</string>
        <key>offset</key>
        <string>{-5,-19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{25,39},{68,89}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack3_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{68,89}}</string>
        <key>offset</key>
        <string>{-4,-19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,39},{68,89}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,0},{87,77}}</string>
        <key>offset</key>
        <string>{-2.5,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,51},{87,77}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{77,86}}</string>
        <key>offset</key>
        <string>{1.5,-21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{27,42},{77,86}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,0},{86,75}}</string>
        <key>offset</key>
        <string>{2,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,53},{86,75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{86,75}}</string>
        <key>offset</key>
        <string>{-2,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,53},{86,75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,0},{85,84}}</string>
        <key>offset</key>
        <string>{-10.5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,44},{85,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,75},{85,71}}</string>
        <key>offset</key>
        <string>{6.5,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,48},{85,71}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,75},{84,84}}</string>
        <key>offset</key>
        <string>{-9,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,44},{84,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,77},{80,84}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{24,44},{80,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,77},{84,76}}</string>
        <key>offset</key>
        <string>{-2,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,52},{84,76}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack3_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,146},{74,84}}</string>
        <key>offset</key>
        <string>{3,-22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30,44},{74,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,153},{70,84}}</string>
        <key>offset</key>
        <string>{6,-22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{35,44},{70,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_attack2_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,83},{80,83}}</string>
        <key>offset</key>
        <string>{-6,-22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,45},{80,83}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,163},{83,77}}</string>
        <key>offset</key>
        <string>{-1.5,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,51},{83,77}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_hurt_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,240},{83,54}}</string>
        <key>offset</key>
        <string>{0.5,-37}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,74},{83,54}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,294},{82,78}}</string>
        <key>offset</key>
        <string>{-1,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,50},{82,78}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,157},{82,77}}</string>
        <key>offset</key>
        <string>{-1,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,51},{82,77}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_hurt_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,234},{82,54}}</string>
        <key>offset</key>
        <string>{1,-37}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,74},{82,54}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,107},{81,78}}</string>
        <key>offset</key>
        <string>{-1.5,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,50},{81,78}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,185},{81,76}}</string>
        <key>offset</key>
        <string>{-0.5,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,52},{81,76}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,157},{81,75}}</string>
        <key>offset</key>
        <string>{0.5,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,53},{81,75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,220},{81,63}}</string>
        <key>offset</key>
        <string>{8.5,-20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,53},{81,63}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,273},{78,58}}</string>
        <key>offset</key>
        <string>{-1,-35}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{24,70},{78,58}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,351},{77,58}}</string>
        <key>offset</key>
        <string>{-0.5,-35}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{25,70},{77,58}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,340},{80,77}}</string>
        <key>offset</key>
        <string>{-1,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,51},{80,77}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_walk_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,370},{80,76}}</string>
        <key>offset</key>
        <string>{0,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,52},{80,76}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{77,58}}</string>
        <key>offset</key>
        <string>{-0.5,-35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,70},{77,58}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{77,58}}</string>
        <key>offset</key>
        <string>{-0.5,-35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,70},{77,58}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,417},{77,58}}</string>
        <key>offset</key>
        <string>{-0.5,-35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,70},{77,58}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,446},{77,57}}</string>
        <key>offset</key>
        <string>{-0.5,-35.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,71},{77,57}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{77,57}}</string>
        <key>offset</key>
        <string>{-0.5,-35.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,71},{77,57}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_jump_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,232},{76,76}}</string>
        <key>offset</key>
        <string>{9,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,50},{76,76}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>werewolfWhite_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,283},{76,57}}</string>
        <key>offset</key>
        <string>{0,-35.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,71},{76,57}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>spriteSheetWerewolfWhite.png</string>
      <key>size</key>
      <string>{1171,546}</string>
      <key>textureFileName</key>
      <string>spriteSheetWerewolfWhite.png</string>
    </dict>
  </dict>
</plist>
