<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>attack_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{44,23}}</string>
        <key>offset</key>
        <string>{1,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,9},{44,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{44,23}}</string>
        <key>offset</key>
        <string>{2,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,9},{44,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{44,22}}</string>
        <key>offset</key>
        <string>{1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,10},{44,22}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{43,22}}</string>
        <key>offset</key>
        <string>{0.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,10},{43,22}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{43,22}}</string>
        <key>offset</key>
        <string>{2.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,10},{43,22}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{43,20}}</string>
        <key>offset</key>
        <string>{0.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,10},{43,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{43,16}}</string>
        <key>offset</key>
        <string>{0.5,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,16},{43,16}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{43,9}}</string>
        <key>offset</key>
        <string>{2.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,23},{43,9}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{43,8}}</string>
        <key>offset</key>
        <string>{2.5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{43,8}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{43,8}}</string>
        <key>offset</key>
        <string>{2.5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{43,8}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{43,8}}</string>
        <key>offset</key>
        <string>{2.5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{43,8}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{42,21}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{42,21}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,8},{42,15}}</string>
        <key>offset</key>
        <string>{1,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,17},{42,15}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,9},{42,13}}</string>
        <key>offset</key>
        <string>{2,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,19},{42,13}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,16},{41,21}}</string>
        <key>offset</key>
        <string>{0.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,11},{41,21}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,20},{41,20}}</string>
        <key>offset</key>
        <string>{0.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,11},{41,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>run_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,22},{41,20}}</string>
        <key>offset</key>
        <string>{-0.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,11},{41,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,37},{41,16}}</string>
        <key>offset</key>
        <string>{-0.5,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,16},{41,16}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,8},{40,23}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,9},{40,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>hit_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,23},{40,23}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,9},{40,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>attack_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,42},{40,19}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,13},{40,19}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>death_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,8},{39,20}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{39,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>hit_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,22},{39,20}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{39,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>hit_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{39,20}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{39,20}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,23},{34,23}}</string>
        <key>offset</key>
        <string>{-3,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,9},{34,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,46},{34,23}}</string>
        <key>offset</key>
        <string>{-2,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{34,23}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{33,22}}</string>
        <key>offset</key>
        <string>{-3.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,10},{33,22}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{33,22}}</string>
        <key>offset</key>
        <string>{-2.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,10},{33,22}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>hit_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,22},{32,21}}</string>
        <key>offset</key>
        <string>{-3,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{32,21}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>spriteSheetCanineBlack.png</string>
      <key>size</key>
      <string>{518,104}</string>
      <key>textureFileName</key>
      <string>spriteSheetCanineBlack.png</string>
    </dict>
  </dict>
</plist>
